@font-face {
	font-family: X360;
	src: url("fontes/X360.ttf");
}

body {
	clear: both;
	background: #3A3A3A;
	max-width: 1440px;
	max-height: 1024px;
	position: absolute;
	overflow-x: hidden;
}

img#logo {
	margin-top: 5px;
	margin-left: 30px;
	width: 120px;
	height: 32px;
	float: left;
}

h1 {
	width: 120px;
	height: 32px;
	margin-left: 20px;
	margin-top: 0;
	float: left;
	font-family: X360;
	letter-spacing: 35px;
	text-transform: uppercase;
	color: #B7B7B7;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#topo ul li {
	float: left;
}

#topo ul a {
	display: block;
	text-decoration: none;
	color: #B7B7B7;
	font-family: X360;
	font-size: 15px;
	margin-top: 10px;
	margin-right: 60px;
}

a:hover {
	background: #107C10;
	padding: 5px 5px;
}

nav {
	float: right;
}

.borda {
	clear: both;
	border-bottom: 3px solid #B7B7B7;
}

.imagem {
	background: url(imagens/fundo1.png) no-repeat;
	width: 1333px;
	height: 887px;
}

.descricao {
	font-size: 20px;
	font-family: X360;
	padding-left: 100px;
	padding-top: 140px;
	position: absolute;
    color:#000;
    text-align: center;
    width: 500px;
}

.jogo {
	padding-left: 40px;
	padding-top: 500px;
	position: absolute;
    width: 500px;
}

.jogo h3 {
	padding-left: 40px;
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: X360;
	font-size: 20px;
	color:#000;
}

.jogo2 {
	padding-left: 300px;
	padding-top: 500px;
	position: absolute;
    width: 500px;
}

.jogo2 h3 {
	padding-left: 560px;
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: X360;
	font-size: 20px;
	color:#000;
}

.jogo3 {
	padding-left: 560px;
	padding-top: 500px;
	position: absolute;
    width: 500px;
}

.jogo3 h3 {
	padding-left: 300px;
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: X360;
	font-size: 20px;
	color:#000;
}

.jogo4 {
	padding-left: 820px;
	padding-top: 500px;
	position: absolute;
    width: 500px;
}

.jogo4 h3 {
	padding-left: 300px;
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: X360;
	font-size: 20px;
	color:#000;
}

.jogo5 {
	padding-left: 1080px;
	padding-top: 500px;
	position: absolute;
    width: 500px;
}

.jogo5 h3 {
	padding-left: 300px;
	position: absolute;
	margin: 0;
	padding: 0;
	font-family: X360;
	font-size: 20px;
	color:#000;
}

/*footer {
	clear: both;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background: #D8D8D8;
	padding: 0.1em;
	width: 100%;
	margin-top: 5px;*/
}
